In [ ]:
#-Comentar sobre a amostra de dados do prouni

#-Gerar medidas centrais para valores como:

# Cursos que são mais oferecidos
# notas de corte x cursos -> analisar as maiores notas de corte
# Mensalidades(custo) x curso - > analisar os cursos mais caros
# Universidades x nota parcial
#gerar histogramas para dados acima

#- gerar medidas de posição (fractis, percentis, quartis)
#para identificar outliers, demonstra-los com boxplot

#-- fazer medidas de dispersão -> usar equação de sturges para gerar bins(tamanho da largura das classes)

#-fazer variância das relações
#-desvio padrão

#--fazer correlação:
#gráfico de dispersão com scatterplot, análisar se as correlações são lineares, se existe correlação, etc.
#-tentar fazer correlação e Pearson

#-covariância:
#ocorre como variância em duas dimensões, selecionar variâncias como nota de corte e cursos com valor da mensalidade e qtde_vagas para cotistas

#tentar fazer e identificar a distribuição normal

In [ ]:
# Em nosso projeto selecionamos a amostra de dados dos cursos oferecidos pelo Prouni, que apresenta dados sobre bolsas, notas necessarias para o curso e outros dados sobre os cursos, através de analises vamos poder identificar 
# correlações e variações entre os dados.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/cursos-prouni-limpo.csv')
df.head()

,GRAU,TURNO,MENSALIDADE,BOLSA_INTEGRAL_COTAS,BOLSA_INTEGRAL_AMPLA,BOLSA_PARCIAL_COTAS,BOLSA_PARCIAL_AMPLA,CURSO_BUSCA,CIDADE_BUSCA,UF_BUSCA,UNIVERSIDADE_NOME,CAMPUS_NOME,CAMPUS_ID,NOME,NOTA_INTEGRAL_AMPLA,NOTA_INTEGRAL_COTAS,NOTA_PARCIAL_AMPLA,NOTA_PARCIAL_COTAS
0,Bacharelado,Integral,9999.99,15,14,15,0,Medicina,Campo Grande,MS,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,0.00,0.00
1,Bacharelado,Noturno,9836.40,1,0,1,0,Enfermagem,Crateus,CE,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Enfermagem,663.36,0.00,0.00,0.00
2,Bacharelado,Integral,9715.61,2,5,2,10,Medicina,Sao Paulo,SP,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64
3,Bacharelado,Noturno,9689.34,3,2,3,0,Psicologia,Crateus,CE,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Psicologia,651.00,652.22,0.00,0.00
4,Bacharelado,Integral,9674.34,4,1,4,2,Medicina,Rio Branco,AC,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,658996,Medicina,758.32,723.94,734.92,711.26

In [ ]:
df_analise = df

In [ ]:
#quantidade de BOLSA_INTEGRAL_COTAS, BOLSA_INTEGRAL_AMPLA, BOLSA_PARCIAL_COTAS e BOLSA_PARCIAL_AMPLA

print("Bolsas disponíveis \nbolsas integrais de cotas: " ,df_analise['BOLSA_INTEGRAL_COTAS'].sum())
print("bolsas integrais amplas: ", df_analise['BOLSA_INTEGRAL_AMPLA'].sum())
print("bolsa parcial de cotas: ", df_analise['BOLSA_PARCIAL_COTAS'].sum())
print("bolsas parciais amplas: ", df_analise['BOLSA_PARCIAL_AMPLA'].sum())
print("Total de bolsas oferecidas: ", df_analise['BOLSA_INTEGRAL_COTAS'].sum() + df_analise['BOLSA_INTEGRAL_AMPLA'].sum() + df_analise['BOLSA_PARCIAL_COTAS'].sum() + df_analise['BOLSA_PARCIAL_AMPLA'].sum() )

Bolsas disponíveis
bolsas integrais de cotas:  49931
bolsas integrais amplas:  63854
bolsa parcial de cotas:  49931
bolsas parciais amplas:  112577
Total de bolsas oferecidas:  276293

In [ ]:
# Cursos que são mais oferecidos
df_analise['CURSO_BUSCA'].value_counts().head(10)

Administração                            2754
Pedagogia                                2555
Ciências Contábeis                       2056
Gestão de Recursos Humanos               1595
Educação Física                          1528
Serviço Social                           1166
Direito                                  1093
Logística                                1042
Processos Gerenciais                     1011
Análise e Desenvolvimento de Sistemas    1008
Name: CURSO_BUSCA, dtype: int64