In [12]:
import pandas as pd
%matplotlib inline

In [13]:
from google.colab import drive
drive.mount('/content/drive')

# lê o arquivo CSV
df = pd.read_csv('/content/drive/MyDrive/cursos-prouni.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
# Visualizando algumas linhas de dados.
df.head()

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_external_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,706710394154,Medicina,Campo Grande,MS,NTAwMjAwNDAyNzA0,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,NaN,NaN
1,Bacharelado,Noturno,9836.40,1.0,NaN,NaN,NaN,104191210567043,Enfermagem,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Enfermagem,663.36,NaN,NaN,NaN
2,Bacharelado,Integral,9715.61,2.0,5.0,6.0,10.0,1002328574024,Medicina,Sao Paulo,SP,MzUxNTA2MTUwMzA4,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64
3,Bacharelado,Noturno,9689.34,3.0,2.0,NaN,NaN,104191212798093,Psicologia,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Psicologia,651.00,652.22,NaN,NaN
4,Bacharelado,Integral,9674.34,4.0,1.0,5.0,2.0,65899611932754,Medicina,Rio Branco,AC,MTIwMjAwNDAwNDAx,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,658996,Medicina,758.32,723.94,734.92,711.26

In [15]:
# Verificando tipagens das colunas e seus dados.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41447 entries, 0 to 41446
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   grau                  41447 non-null  object
 1   turno                 41447 non-null  object
 2   mensalidade           41447 non-null  float64
 3   bolsa_integral_cotas  32520 non-null  float64
 4   bolsa_integral_ampla  25404 non-null  float64
 5   bolsa_parcial_cotas   8828 non-null   float64
 6   bolsa_parcial_ampla   13041 non-null  float64
 7   curso_id              41447 non-null  int64
 8   curso_busca           41447 non-null  object
 9   cidade_busca          41447 non-null  object
 10  uf_busca              41447 non-null  object
 11  cidade_filtro         41447 non-null  object
 12  universidade_nome     41447 non-null  object
 13  campus_nome           41447 non-null  object
 14  campus_external_id    41447 non-null  int64
 15  nome                  41447 non-null  object
 16  nota_integral_ampla   32520 non-null  float64
 17  nota_integral_cotas   16802 non-null  float64
 18  nota_parcial_ampla    16350 non-null  float64
 19  nota_parcial_cotas    5519 non-null   float64
dtypes: float64(9), int64(2), object(9)
memory usage: 6.3+ MB

In [16]:
# Criando novo dataset para fazer limpeza.
df_limpeza = df

In [17]:
# Renomear titulo das colunas (Uppercase)
df_limpeza = df.rename(columns={'grau': 'GRAU', 'turno': 'TURNO', 'mensalidade': 'MENSALIDADE', 'bolsa_integral_cotas': 'BOLSA_INTEGRAL_COTAS', 'bolsa_integral_ampla': 'BOLSA_INTEGRAL_AMPLA', 'bolsa_parcial_cotas': 'BOLSA_PARCIAL_COTAS', 
                        'bolsa_parcial_ampla': 'BOLSA_PARCIAL_AMPLA', 'curso_id': 'CURSO_ID', 'curso_busca': 'CURSO_BUSCA', 'cidade_busca': 'CIDADE_BUSCA', 'uf_busca': 'UF_BUSCA', 'cidade_filtro': 'CIDADE_FILTRO', 
                        'universidade_nome': 'UNIVERSIDADE_NOME', 'campus_nome': 'CAMPUS_NOME', 'campus_id': 'CAMPUS_ID', 'nome': 'NOME', 'nota_integral_ampla': 'NOTA_INTEGRAL_AMPLA', 'nota_integral_cotas': 'NOTA_INTEGRAL_COTAS',
                        'nota_parcial_ampla': 'NOTA_PARCIAL_AMPLA', 'nota_parcial_cotas': 'NOTA_PARCIAL_COTAS'})
# mudar coluna nome para nome_curso
df_limpeza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41447 entries, 0 to 41446
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   GRAU                  41447 non-null  object
 1   TURNO                 41447 non-null  object
 2   MENSALIDADE           41447 non-null  float64
 3   BOLSA_INTEGRAL_COTAS  32520 non-null  float64
 4   BOLSA_INTEGRAL_AMPLA  25404 non-null  float64
 5   BOLSA_PARCIAL_COTAS   8828 non-null   float64
 6   BOLSA_PARCIAL_AMPLA   13041 non-null  float64
 7   CURSO_ID              41447 non-null  int64
 8   CURSO_BUSCA           41447 non-null  object
 9   CIDADE_BUSCA          41447 non-null  object
 10  UF_BUSCA              41447 non-null  object
 11  CIDADE_FILTRO         41447 non-null  object
 12  UNIVERSIDADE_NOME     41447 non-null  object
 13  CAMPUS_NOME           41447 non-null  object
 14  campus_external_id    41447 non-null  int64
 15  NOME                  41447 non-null  object
 16  NOTA_INTEGRAL_AMPLA   32520 non-null  float64
 17  NOTA_INTEGRAL_COTAS   16802 non-null  float64
 18  NOTA_PARCIAL_AMPLA    16350 non-null  float64
 19  NOTA_PARCIAL_COTAS    5519 non-null   float64
dtypes: float64(9), int64(2), object(9)
memory usage: 6.3+ MB

In [18]:
# Identificando quais colunas possuem valores nulos.
df_limpeza.isnull().any()

GRAU                    False
TURNO                   False
MENSALIDADE             False
BOLSA_INTEGRAL_COTAS     True
BOLSA_INTEGRAL_AMPLA     True
BOLSA_PARCIAL_COTAS      True
BOLSA_PARCIAL_AMPLA      True
CURSO_ID                False
CURSO_BUSCA             False
CIDADE_BUSCA            False
UF_BUSCA                False
CIDADE_FILTRO           False
UNIVERSIDADE_NOME       False
CAMPUS_NOME             False
campus_external_id      False
NOME                    False
NOTA_INTEGRAL_AMPLA      True
NOTA_INTEGRAL_COTAS      True
NOTA_PARCIAL_AMPLA       True
NOTA_PARCIAL_COTAS       True
dtype: bool

In [19]:
# Substituindo valores nulos por 0 nas colunas que possuem nulos.
#df_limpeza.fillna(0) # substituiu valores nulos por 0 mas continua retornando como tendo valores nulos dentro das colunas
df_limpeza['BOLSA_INTEGRAL_COTAS'] = df_limpeza['BOLSA_INTEGRAL_COTAS'].fillna(0)
df_limpeza['BOLSA_INTEGRAL_AMPLA'] = df_limpeza['BOLSA_INTEGRAL_AMPLA'].fillna(0)
df_limpeza['BOLSA_PARCIAL_COTAS'] = df_limpeza['BOLSA_INTEGRAL_COTAS'].fillna(0)
df_limpeza['BOLSA_PARCIAL_AMPLA'] = df_limpeza['BOLSA_PARCIAL_AMPLA'].fillna(0)

df_limpeza['NOTA_INTEGRAL_AMPLA'] = df_limpeza['NOTA_INTEGRAL_AMPLA'].fillna(0)
df_limpeza['NOTA_INTEGRAL_COTAS'] = df_limpeza['NOTA_INTEGRAL_COTAS'].fillna(0)
df_limpeza['NOTA_PARCIAL_AMPLA'] = df_limpeza['NOTA_PARCIAL_AMPLA'].fillna(0)
df_limpeza['NOTA_PARCIAL_COTAS'] = df_limpeza['NOTA_PARCIAL_COTAS'].fillna(0)

In [20]:
# Checando se ainda existe algum valor nulo nas colunas.
df_limpeza.isnull().any()

GRAU                    False
TURNO                   False
MENSALIDADE             False
BOLSA_INTEGRAL_COTAS    False
BOLSA_INTEGRAL_AMPLA    False
BOLSA_PARCIAL_COTAS     False
BOLSA_PARCIAL_AMPLA     False
CURSO_ID                False
CURSO_BUSCA             False
CIDADE_BUSCA            False
UF_BUSCA                False
CIDADE_FILTRO           False
UNIVERSIDADE_NOME       False
CAMPUS_NOME             False
campus_external_id      False
NOME                    False
NOTA_INTEGRAL_AMPLA     False
NOTA_INTEGRAL_COTAS     False
NOTA_PARCIAL_AMPLA      False
NOTA_PARCIAL_COTAS      False
dtype: bool

In [22]:
# Dropando colunas que não serão necessárias para análise
df_limpeza = df_limpeza.drop(columns = ['CIDADE_FILTRO', 'CURSO_ID', 'campus_external_id'])
df_limpeza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41447 entries, 0 to 41446
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   GRAU                  41447 non-null  object
 1   TURNO                 41447 non-null  object
 2   MENSALIDADE           41447 non-null  float64
 3   BOLSA_INTEGRAL_COTAS  41447 non-null  float64
 4   BOLSA_INTEGRAL_AMPLA  41447 non-null  float64
 5   BOLSA_PARCIAL_COTAS   41447 non-null  float64
 6   BOLSA_PARCIAL_AMPLA   41447 non-null  float64
 7   CURSO_BUSCA           41447 non-null  object
 8   CIDADE_BUSCA          41447 non-null  object
 9   UF_BUSCA              41447 non-null  object
 10  UNIVERSIDADE_NOME     41447 non-null  object
 11  CAMPUS_NOME           41447 non-null  object
 12  NOME                  41447 non-null  object
 13  NOTA_INTEGRAL_AMPLA   41447 non-null  float64
 14  NOTA_INTEGRAL_COTAS   41447 non-null  float64
 15  NOTA_PARCIAL_AMPLA    41447 non-null  float64
 16  NOTA_PARCIAL_COTAS    41447 non-null  float64
dtypes: float64(9), object(8)
memory usage: 5.4+ MB

In [23]:
# Modificando campos float para int, já que as bolsas representam valores unitários inteiros.
df_limpeza = df_limpeza.astype({'BOLSA_INTEGRAL_COTAS': int, 'BOLSA_INTEGRAL_AMPLA': int, 'BOLSA_PARCIAL_COTAS': int, 'BOLSA_PARCIAL_AMPLA': int})
df_limpeza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41447 entries, 0 to 41446
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   GRAU                  41447 non-null  object
 1   TURNO                 41447 non-null  object
 2   MENSALIDADE           41447 non-null  float64
 3   BOLSA_INTEGRAL_COTAS  41447 non-null  int64
 4   BOLSA_INTEGRAL_AMPLA  41447 non-null  int64
 5   BOLSA_PARCIAL_COTAS   41447 non-null  int64
 6   BOLSA_PARCIAL_AMPLA   41447 non-null  int64
 7   CURSO_BUSCA           41447 non-null  object
 8   CIDADE_BUSCA          41447 non-null  object
 9   UF_BUSCA              41447 non-null  object
 10  UNIVERSIDADE_NOME     41447 non-null  object
 11  CAMPUS_NOME           41447 non-null  object
 12  NOME                  41447 non-null  object
 13  NOTA_INTEGRAL_AMPLA   41447 non-null  float64
 14  NOTA_INTEGRAL_COTAS   41447 non-null  float64
 15  NOTA_PARCIAL_AMPLA    41447 non-null  float64
 16  NOTA_PARCIAL_COTAS    41447 non-null  float64
dtypes: float64(5), int64(4), object(8)
memory usage: 5.4+ MB

In [24]:
# Renomear titulo das colunas (Uppercase)
# Substituir  valores NaN por 0 ou relacionado.
# Remover coluna de cidade_filtro.
# Remover coluna de curso_id.
# Mudar tipo de bolsa_* de float para int.

In [25]:
# Salvando o dataframe limpo
df_limpeza.to_csv('/content/drive/MyDrive/cursos-prouni-limpo.csv', index=False)