In [ ]:
import pandas as pd
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# lê o arquivo CSV
df = pd.read_csv('/content/drive/MyDrive/cursos-prouni.csv')

In [ ]:
# Visualizando algumas linhas de dados.
df.head()

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,706710394154,Medicina,Campo Grande,MS,NTAwMjAwNDAyNzA0,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,NaN,NaN
1,Bacharelado,Noturno,9836.40,1.0,NaN,NaN,NaN,104191210567043,Enfermagem,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Enfermagem,663.36,NaN,NaN,NaN
2,Bacharelado,Integral,9715.61,2.0,5.0,6.0,10.0,1002328574024,Medicina,Sao Paulo,SP,MzUxNTA2MTUwMzA4,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64
3,Bacharelado,Noturno,9689.34,3.0,2.0,NaN,NaN,104191212798093,Psicologia,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Psicologia,651.00,652.22,NaN,NaN
4,Bacharelado,Integral,9674.34,4.0,1.0,5.0,2.0,65899611932754,Medicina,Rio Branco,AC,MTIwMjAwNDAwNDAx,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,658996,Medicina,758.32,723.94,734.92,711.26

In [ ]:
# Verificando tipagens das colunas e seus dados.
df.info()

In [58]:
# Criando novo dataset para fazer limpeza.
df_limpeza = df

In [ ]:
# Renomear titulo das colunas (Uppercase)
df_limpeza = df.rename(columns={'grau': 'GRAU', 'turno': 'TURNO', 'mensalidade': 'MENSALIDADE', 'bolsa_integral_cotas': 'BOLSA_INTEGRAL_COTAS', 'bolsa_integral_ampla': 'BOLSA_INTEGRAL_AMPLA', 'bolsa_parcial_cotas': 'BOLSA_PARCIAL_COTAS', 
                        'bolsa_parcial_ampla': 'BOLSA_PARCIAL_AMPLA', 'curso_id': 'CURSO_ID', 'curso_busca': 'CURSO_BUSCA', 'cidade_busca': 'CIDADE_BUSCA', 'uf_busca': 'UF_BUSCA', 'cidade_filtro': 'CIDADE_FILTRO', 
                        'universidade_nome': 'UNIVERSIDADE_NOME', 'campus_nome': 'CAMPUS_NOME', 'campus_id': 'CAMPUS_ID', 'nome': 'NOME', 'nota_integral_ampla': 'NOTA_INTEGRAL_AMPLA', 'nota_integral_cotas': 'NOTA_INTEGRAL_COTAS',
                        'nota_parcial_ampla': 'NOTA_PARCIAL_AMPLA', 'nota_parcial_cotas': 'NOTA_PARCIAL_COTAS'})
# mudar coluna nome para nome_curso
df_limpeza.info()

In [ ]:
# Identificando quais colunas possuem valores nulos.
df_limpeza.isnull().any()

In [76]:
# Substituindo valores nulos por 0 nas colunas que possuem nulos.
#df_limpeza.fillna(0) # substituiu valores nulos por 0 mas continua retornando como tendo valores nulos dentro das colunas
df_limpeza['BOLSA_INTEGRAL_COTAS'] = df_limpeza['BOLSA_INTEGRAL_COTAS'].fillna(0)
df_limpeza['BOLSA_INTEGRAL_AMPLA'] = df_limpeza['BOLSA_INTEGRAL_AMPLA'].fillna(0)
df_limpeza['BOLSA_PARCIAL_COTAS'] = df_limpeza['BOLSA_INTEGRAL_COTAS'].fillna(0)
df_limpeza['BOLSA_PARCIAL_AMPLA'] = df_limpeza['BOLSA_PARCIAL_AMPLA'].fillna(0)

df_limpeza['NOTA_INTEGRAL_AMPLA'] = df_limpeza['NOTA_INTEGRAL_AMPLA'].fillna(0)
df_limpeza['NOTA_INTEGRAL_COTAS'] = df_limpeza['NOTA_INTEGRAL_COTAS'].fillna(0)
df_limpeza['NOTA_PARCIAL_AMPLA'] = df_limpeza['NOTA_PARCIAL_AMPLA'].fillna(0)
df_limpeza['NOTA_PARCIAL_COTAS'] = df_limpeza['NOTA_PARCIAL_COTAS'].fillna(0)

In [77]:
# Checando se ainda existe algum valor nulo nas colunas.
df_limpeza.isnull().any()

GRAU                    False
TURNO                   False
MENSALIDADE             False
BOLSA_INTEGRAL_COTAS    False
BOLSA_INTEGRAL_AMPLA    False
BOLSA_PARCIAL_COTAS     False
BOLSA_PARCIAL_AMPLA     False
CURSO_ID                False
CURSO_BUSCA             False
CIDADE_BUSCA            False
UF_BUSCA                False
CIDADE_FILTRO           False
UNIVERSIDADE_NOME       False
CAMPUS_NOME             False
CAMPUS_ID               False
NOME                    False
NOTA_INTEGRAL_AMPLA     False
NOTA_INTEGRAL_COTAS     False
NOTA_PARCIAL_AMPLA      False
NOTA_PARCIAL_COTAS      False
dtype: bool

In [33]:
# Renomear titulo das colunas (Uppercase)
# Substituir  valores NaN por 0 ou relacionado.
# Remover coluna de cidade_filtro.
# Remover coluna de curso_id.
# Mudar tipo de bolsa_* de float para int.

In [ ]:
# Cursos que são mais oferecidos
# notas de corte x cursos -> analisar as maiores notas de corte
# Mensalidades(custo) x curso - > analisar os cursos mais caros
# Universidades x nota parcial